.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.header {
  display: flex;
  padding: 10px;
}

.header_title {
  flex: 1;
  text-align: center;
  align-self: center;
  font-size: 30px;
}

.header_button {
  margin: 10px 10px;
  padding: 10px;
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button_sign_up {
  background-color: #44ee2ea1;
}

.button_sign_in {
  background-color: #3333330d;
}
